#root {
  width: 99vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}
.app {
  max-width: 1800px;
  margin: 0 auto;
}

img.logo__pic {
  height: 50px;
  margin-bottom: 20px;
}
footer{
    text-align: right;
}
